name: Go Tidy
on: [push]
jobs:

  build:
    name: Go mod tidy check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: katexochen/go-tidy-check@v2
        with:
          # (Optional) The path to the root of each modules, space separated. Default is the current directory.
          modules: . ./...
